
#Ignore all
*

#Descend into dirs
!*/

#Leave out the final submission dir
**/gbolet_csilva_final_submission

#Track figures
!*.jpg
!*.png
!*.fig

#Track matlab files
!*.m
!*.mat

#Track base repo files
!README.md
!.gitignore
